.dash {
	$dash-back-color: #111111;
	$group-text-color: #EEEEEE;
	$group-back-color: #444444;

	$heading: (
		display: block,
		color: $group-text-color,
		font-size: 1.0625rem,
		padding: 0.75rem 1.5rem,
		background: $group-back-color,
		text-transform: uppercase,
		user-select: none
	);

	position: fixed;
	top: 0;
	left: 0;
	width: 16.25rem;
	height: 100%;
	background: $dash-back-color;

	.logo {
		display: block;
		margin: auto;
		padding: 1rem;
		animation: App-logo-spin infinite 20s linear;
		height: 7.5rem;
	}

	@keyframes App-logo-spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	.sideDash {
		display: block;

		.sideHeading {
			@each $key, $value in $heading {
				#{$key}: $value;
			};
		}
	}

	.topDash {
		display: none;

		.topHeading {
			@each $key, $value in $heading {
				#{$key}: $value;
			};
			cursor: pointer;
		}
	}

	li {
		margin: 0;
		padding: 0;
		display: block;
		list-style-type: none;

		a {
			position: relative;
			display: block;
			color: $group-text-color;
			text-decoration: none;
			padding: 0.625rem 1.5rem 0.625rem 3rem;

			i {
				position: absolute;
				height: 50%;
				top: 30%;
				left: 0.75rem;
			}
		}

		&:hover {
			background: $group-back-color;
			filter: invert(1);
		}
	}
}

@media only screen and (max-width: 1024px) {
	#root {
		padding: 0;
	}

	.dash {
		position: static;
		width: 100%;
		height: auto;

		.logo {
			padding: 0;
			width: 3rem;
			height: 3rem;
		}

		.sideDash {
			display: none;
		}

		.topDash {
			display: block;
		}
	}
}